myXSD.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.shemesh.com" elementFormDefault="qualified">

	<xs:element name="root"></xs:element>
	<xs:element name="lastname" type="xs:string" />
	<xs:element name="age" type="xs:integer" />
	<xs:element name="dateborn" type="xs:date" />
</xs:schema>